/*
Theme Name: NolaBookFest.org Theme
Theme URI: http://NolaBookfest.org/
Author: Decubing
Author URI: http://decubing.com/

*/
body {
  margin: 0px;
  background: #fbf8ef url(images/bg-pastel.yellow.jpg);
  background-repeat: repeat;
  color: #5D544C;
  text-align: justify;
  font-size: 20px;
	font-family: 'Lora', serif;
  line-height: 1.2em;
}
h1 {
  display: block;
  margin: 0 0 20px;
  background: url(images/bg-h1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  text-align: center;
  font-weight: normal;
  font-size: 38px;
}
h2 {
  margin: 4px 0;
  text-transform: uppercase;
  font-size: 16px;
}
#wrapper {
	margin: 0 auto;
	width:1000px;
}

#page {
  position: relative;
  margin: 20px 20px 0px;
  padding: 10px 0px 0px 10px;
 	width:1000px;
/* background: url('images/turnjs-book-jacket.jpg') no-repeat; */
}

#instructions {
	position:absolute;
	top:30px;
	right:30px;
	width:250px;
	height:79px;
	background: url('images/instruction-arrow.png') no-repeat;
	text-indent: -999999px;
	font-size:14px;
	line-height: 16px;
}

.post {
  padding: 20px 70px 0px 70px;
}
#header {
  margin: 20px auto;
  width: 874px;
  text-align: center;
}
#navigation {
  margin: 0 auto;
/* padding: 10px 5px 0; */
  padding-left: 15px;
  width: 1000px;
  height: 50px;
  /* background:url(images/bg-navigation.gif); */
  background: none;
  text-align: center;
}
#navigation ul {
  list-style: none;
  list-style-type: none;
}
#navigation a {
  display: block;
  float: left;
  margin: 0px 10px;
  padding: 6px;
  background: url(images/bg-navigation-a.jpg) bottom repeat-x;
  color: #5f5446;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  font-family: "Georgia", Times, serif;
}
#navigation a:active {
  background: none;
}
#navigation a:hover {
  background: url(images/bg-navigation-a-hover.jpg) bottom repeat-x;
  color: #d3bda1;
}
#Authors img {
  float: left;
  margin: 0 20px 0 0;
  border: none;
}

#wrapper {
    overflow:hidden;
}

#flipbook{
  width:400px;
  height:600px;   
}

#flipbook .page{
    width:480px;
    height:600px;
    background-color:#fcffe6;
    text-align:center;
    font-size:20px;
}

/* #flipbook .page.even{background:#fbf8ef url(images/turnjs-left-corner-fleuron.png) bottom left no-repeat; */

/* }
#flipbook .page.odd{background:#fbf8ef url(images/turnjs-right-corner-fleuron.png) bottom right no-repeat; */


#flipbook .book-content {
	margin: 40px 40px;
	text-align: left;
	font-style: italic;
	font-size:16px;
	line-height: 20px;
}

#flipbook #about_page_frame {
	background: url(images/about-page-frame.jpg) top left no-repeat ;
}

#flipbook .book-content.author_page .img_wrapper {
	margin: 7px 0px;
	width:122px;
	height:auto;
}

#flipbook .book-content.partners-page .img_wrapper {
/* float:left; */
	overflow: hidden;
	margin: 0px 4px 4px 0px;
	padding:4px;
	width:109px;
	height:128px;
	border:1px solid gray; vertical-align: middle;
	text-align: center;
}

#flipbook .book-content.partners-page table {border-spacing: 4px;}

#flipbook #small_partners.book-content .img_wrapper {
	margin: 0px 2px 2px 0px;
	width:78px;
	height:100px;
}

#flipbook #small_partners.book-content table {
	padding-top:40px;
}

#flipbook .book-content.partners-page img {
	margin: 7px 0px;
	width:100%;
	height:auto;
	vertical-align: middle;
}


#flipbook .book-content.full-page-image {
	margin: 0;
}

#flipbook .book-content h1, #flipbook .book-content h2, #flipbook .book-content h3, #flipbook .book-content h4 {
/* margin: 40px 0px; */
	text-align: center;
	font-family: "Lora", serif;
}

#flipbook .book-content h2 {
	font-style: normal;
	font-size:28pt;
	line-height: 30pt;
}

#flipbook .book-content h3 {
margin: 12px 0px;
font-size: 20pt;
line-height: 25pt;
}

#flipbook .book-content h4 {margin: 7px 0px;}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .center_text {text-align: center;font-size:16px;}

#flipbook .front_cover {
	background: url('images/turnjs-book-covers.jpg') no-repeat !important;
}
#flipbook .inside_front_cover {
	background: url('images/turnjs-book-covers.jpg') -480px 0 no-repeat !important;
}
#flipbook .inside_back_cover {
	background: url('images/turnjs-book-covers.jpg') -960px 0 no-repeat !important;
}
#flipbook .back_cover {
	background: url('images/turnjs-book-covers.jpg') -1440px 0 no-repeat !important;
}

#flipbook .hard{
    background:#1c2c44;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    color:white;
    font-weight:bold;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fffdef), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{

    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fffdef), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fffdef 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fffdef 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fffdef 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fffdef 95%, #dadada 100%);
    background-image:linear-gradient(left, #fffdef 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
}​

#flipbook .shadow,
#flipbook.shadow{
	-webkit-box-shadow: 0 4px 10px #666;
	-moz-box-shadow: 0 4px 10px #666;
	box-shadow: 0 4px 10px #666;
	-ms-box-shadow: 0 4px 10px #666;
	-o-box-shadow: 0 4px 10px #666;
}
#flipbook .page{
	width:420px;
	height:560px;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
}
#flipbook .depth {
	background: 480px top no-repeat;
	
}

#flipbook .depth{
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
	background-image: url('images/turnjs-pages-depth.png');
}

#flipbook .inside_front_cover .depth{
	left:4px;
	background-position:0 0;
}

#flipbook .inside_back_cover .depth{
	right:4px;
	background-position:right 0;
}

#flipbook #twinkle_video {
/* margin-top:60px; */
}
