/*
Theme Name: NolaBookFest.org Theme
Theme URI: http://NolaBookfest.org/
Author: Decubing
Author URI: http://decubing.com/

*/
#page {
    width:1000px;
    margin: 20px 20px 0px;
    padding: 10px 0px 0px 10px;
    position: relative;
}
#navigation {
    width: 1000px;
    background: none;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    padding-left: 15px;
    a:active {
        background: none;
    }
    a {
        display: block;
        float: left;
        font-family: "Georgia", Times, serif;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
        color: #5f5446;
        background: url(images/bg-navigation-a.jpg) bottom repeat-x;
        text-decoration: none;
        padding: 6px;
        margin: 0px 10px;
    }
    ul {
        list-style-type: none;
        list-style: none;
    }
    a:hover {
        color: #d3bda1;
        background: url(images/bg-navigation-a-hover.jpg) bottom repeat-x;
    }
}
#instructions {
    width:250px;
    height:79px;
    position:absolute;
    right:30px;
    top:30px;
    font-size:14px;
    line-height: 16px;
    background: url('images/instruction-arrow.png') no-repeat;
    text-indent: -999999px;
}
#flipbook .book-content h1, #flipbook .book-content h2, #flipbook .book-content h3, #flipbook .book-content h4 {
    text-align: center;
    font-family: "Lora", serif;
}
body {
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 1.2em;
    color: #5D544C;
    text-align: justify;
    background: #fbf8ef url(images/bg-pastel.yellow.jpg);
    background-repeat: repeat;
    margin: 0px;
}
#flipbook {
    width:400px;
    height:600px;
    .center_text {
        text-align: center;
        font-size:16px;
    }
    .even {
        background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fffdef), color-stop(1, #dadada));
        background-image:-webkit-linear-gradient(left, #fffdef 95%, #dadada 100%);
        background-image:-moz-linear-gradient(left, #fffdef 95%, #dadada 100%);
        background-image:-ms-linear-gradient(left, #fffdef 95%, #dadada 100%);
        background-image:-o-linear-gradient(left, #fffdef 95%, #dadada 100%);
        background-image:linear-gradient(left, #fffdef 95%, #dadada 100%);
        -webkit-box-shadow:inset 0 0 5px #666;
        -moz-box-shadow:inset 0 0 5px #666;
        -o-box-shadow:inset 0 0 5px #666;
        -ms-box-shadow:inset 0 0 5px #666;
        box-shadow:inset 0 0 5px #666;
    }
    .odd {
        background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fffdef), color-stop(1, #DADADA));
        background-image:-webkit-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
        background-image:-moz-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
        background-image:-ms-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
        background-image:-o-linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
        background-image:linear-gradient(right, #fffdef 95%, #C4C4C4 100%);
        -webkit-box-shadow:inset 0 0 5px #666;
        -moz-box-shadow:inset 0 0 5px #666;
        -o-box-shadow:inset 0 0 5px #666;
        -ms-box-shadow:inset 0 0 5px #666;
        box-shadow:inset 0 0 5px #666;
    }
    .inside_front_cover {
        background: url('images/turnjs-book-covers.jpg') -480px 0 no-repeat !important;
        .depth {
            left:4px;
            background-position:0 0;
        }
    }
    .book-content.author_page {
        .img_wrapper {
            width:122px;
            height:auto;
            margin: 7px 0px;
        }
    }
    .hard {
        background:#1c2c44;
        color:white;
        -webkit-box-shadow:inset 0 0 5px #666;
        -moz-box-shadow:inset 0 0 5px #666;
        -o-box-shadow:inset 0 0 5px #666;
        -ms-box-shadow:inset 0 0 5px #666;
        box-shadow:inset 0 0 5px #666;
        font-weight:bold;
    }
    .page-wrapper {
        -webkit-perspective:2000px;
        -moz-perspective:2000px;
        -ms-perspective:2000px;
        -o-perspective:2000px;
        perspective:2000px;
    }
    .back_cover {
        background: url('images/turnjs-book-covers.jpg') -1440px 0 no-repeat !important;
    }
    .book-content.full-page-image {
        margin: 0;
    }
    .book-content {
        font-size:16px;
        line-height: 20px;
        margin: 40px 40px;
        text-align: left;
        font-style: italic;
        h3 {
            font-size: 20pt;
            line-height: 25pt;
            margin: 12px 0px;
        }
        h4 {
            margin: 7px 0px;
        }
        h2 {
            font-size:28pt;
            line-height: 30pt;
            font-style: normal;
        }
    }
    .inside_back_cover {
        background: url('images/turnjs-book-covers.jpg') -960px 0 no-repeat !important;
        .depth {
            right:4px;
            background-position:right 0;
        }
    }
    #small_partners.book-content {
        table {
            padding-top:40px;
        }
        .img_wrapper {
            width:78px;
            height:100px;
            margin: 0px 2px 2px 0px;
        }
    }
    #about_page_frame {
        background: url(images/about-page-frame.jpg) top left no-repeat;
    }
    .page {
        width:480px;
        height:600px;
        background-color:#fcffe6;
        font-size:20px;
        text-align:center;
        width:420px;
        height:560px;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
        box-shadow:0 0 20px rgba(0,0,0,0.2);
    }
    .depth {
        background: 480px top no-repeat;
        background-image: url('images/turnjs-pages-depth.png');
        position:absolute;
        top:7px;
        width:16px;
        height:590px;
    }
    .front_cover {
        background: url('images/turnjs-book-covers.jpg') no-repeat !important;
    }
    .book-content.partners-page {
        img {
            width:100%;
            height:auto;
            margin: 7px 0px;
            vertical-align: middle;
        }
        table {
            border-spacing: 4px;
        }
        .img_wrapper {
            width:109px;
            height:128px;
            border:1px solid gray;
            margin: 0px 4px 4px 0px;
            padding:4px;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
        }
    }
}
#wrapper {
    width:1000px;
    margin: 0 auto;
    overflow:hidden;
}
#Authors {
    img {
        float: left;
        border: none;
        margin: 0 20px 0 0;
    }
}
.post {
    padding: 20px 70px 0px 70px;
}
​#flipbook .shadow,#flipbook.shadow {
    -webkit-box-shadow: 0 4px 10px #666;
    -moz-box-shadow: 0 4px 10px #666;
    -ms-box-shadow: 0 4px 10px #666;
    -o-box-shadow: 0 4px 10px #666;
    box-shadow: 0 4px 10px #666;
}
#header {
    width: 874px;
    margin: 20px auto;
    text-align: center;
}
h1 {
    margin: 0 0 20px;
    text-align: center;
    font-size: 38px;
    font-weight: normal;
    color: #000000;
    background: url(images/bg-h1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
h2 {
    font-size: 16px;
    margin: 4px 0;
    text-transform: uppercase;
}
